.cart-page {
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
}

.delete-btn {
    padding: 0 0 0 40px;
    font-size: 14px;
    color: gray;
}
.item-image img {
    width: 100%;
    height: auto;
}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-name h5 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 20px;
    max-width: 420px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.item-price {
    font-size: 1rem;
    padding-top: 20px;
    text-align: right;
}

.total-price-section {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 20px;
}

.total-label {
    font-weight: bold;
}

.total-amount {
    font-weight: bold;
    color: red;
}
.custom-order-btn {
    color: #fff;
    font-size: 1.3rem;
    padding: 5px;
    background-color: #c90000; 
    border: none; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
}

.custom-order-btn:hover {
    background-color: #8b0202; 
}

.custom-order-btn .btn {
    color: white; 
    font-weight: bold; 
}
.item-quantity {
    padding-top: 30px;
    display: flex; 
    align-items: center; 
}

.qty-btn {
    border: 1px solid #ccc; 
    padding: 5px 10px;
    background-color: #f8f8f8; 
    cursor: pointer; 
}

.quantity-input {
    border: 0.5px solid #ccc; 
    padding: 5px; 
    text-align: center; 
}

.qtyplus {
    border-radius: 0 5px 5px 0;
    background-color: white;
}
.qtyminus{
    border-radius: 5px 0 0 5px;
    background-color: white;
}

.quantity-input {
    width: 50px;
}
.order-info {
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    font-size: 16px;
}

.order-info h5{
    padding-top: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    max-width: 420px;
}
.order-info h4 {
    padding-bottom: 15px;
    border-bottom: 1px solid #cecece;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.order-info .form-label {
    font-weight: 600;
    color: #555;
}

.order-info .form-control {
    flex: 0.5;
    padding: 10px;
    border: 1px solid #546ce8;
    border-radius: 5px;

}

.order-info .form-select {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-check-label{
    margin-left: 4px;

}
.cart-summary h5 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.cart-summary .list-group-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
}

.cart-summary .text-danger {
    font-size: 1.2rem;
    font-weight: bold;
}

.cart-summary .fw-bold {
    font-size: 1.1rem;
}

/* Button Styling */
.order-info .btn {
    font-size: 1.1rem;
    padding: 12px;
    border-radius: 8px;
}

.order-info .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.order-info .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
